:root {
  font-size: 62.5%;
  --color-background: #E5E5E5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body {
  background: var(--color-background)
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}